.header{
    min-height: 15vh;
    /* width: 100vw; */
    background-color:rgb(211, 207, 207);
}
.body{
    min-height: 70vh;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
.sub-body{
    width: 75vw;
    display: flex;
    flex-direction: column;
}
@media (max-width:800px) {
    .header{
        min-height: 8vh;
    }
    .sub-body{
        width: 50vw;
    }
}
@media (max-width:400px) {
    .body{
        flex-direction: column;
    }
    .sub-body{
        width: 100%;
        height:50vh;
    }
}
.a{
    background-color: rgb(230, 34, 34);
    height: 50%;
}
.b{
    background-color: rgb(230, 170, 75);
    height: 50%; 
}
.c{
    background-color: rgb(224, 212, 42);
    align-self: stretch;
    flex-grow: 1;
}