.header{
    min-height: 10vh;
    /* width: 100vw; */
    background-color:rgb(211, 207, 207);
}
.body{
    height: 80vh;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}
.a{
    width: 25%;
    background-color: rgb(158, 197, 68);
    flex-grow: 1;
}
.b{
    width: 25%;
    background-color: rgb(4, 105, 29);
    order: -1;
    align-self: stretch;
}
.c{
    width: 25%;
    background-color: rgb(238, 217, 32);
}
@media (max-width:810px) {
    .header{
        min-height: 5vh;
    }
    .body{
        height: 90vh;
        flex-wrap: wrap;
    }
    .a{
        width: 100%;
        height: 65%;
    }
    .b{
        width: 50%;
        height: 35%;
        order:0;
    }
    .c{
        flex-grow: 1;
    }
}
@media (max-width:576px) {
    .body{
        flex-direction: column;
    }
    .a{
        height: 50%;
    }
    .b{
        height: 25%;
        width: 100%;
    }
    .c{
        height: 25%;
        width: 100%;
    }
}